/* CSS HEX */
/* --black: #000000ff;
--oxford-blue: #14213dff;
--orange-web: #fca311ff;
--platinum: #e5e5e5ff;
--white: #ffffffff; 
  color: chartreuse;*/

$title-color: #ff00ff;
$accent-color: #55ff55;
$txt-color: #ffffff;
$body-color: #0000aa;
$brand-color: #ff00ff;
$nav-color: #aaaaaa;
// FF00FF
// AAAAAA
