/* CSS HEX */
/* --black: #000000ff;
--oxford-blue: #14213dff;
--orange-web: #fca311ff;
--platinum: #e5e5e5ff;
--white: #ffffffff; 
  color: chartreuse;*/
$dos-red: #aa0000;
$dark-nav: #555555;
$title-color: black;
$accent-color: #55ff55;
$txt-color: #ffffff;
$body-color: #000084;
$brand-color: #aa0000;
$nav-color: #bbbbbb;
$txt-on-gray: black;
$h2Back: #00aaaa;
$purp: #aa00aa;
$card-border-color: $dark-nav;
// FF00FF
// AAAAAA
