@import "vars";

// 2px solid #bbbbbb
body {
    background-color: $body-color;
}

.pic {
    border: 3px solid $nav-color;
}

#mainNav {
    font-size: 2rem;
    font-weight: 100;
    background-color: $nav-color;

    .active {
        background-color: black !important;
    }
    .nav-link {
        color: $txt-color;
        background: $nav-color;
        line-height: 2rem;

        &:hover {
            color: $title-color;
            background-color: black;
        }
    }
    .navbar-brand {
        font-size: 2rem !important;
        color: $brand-color;
        span {
            color: $accent-color;
        }
    }
}

#headingGroup {
    span {
        color: $accent-color;
    }
    h2 {
        font-weight: 100;
        font-size: 3rem;
        color: $brand-color;
        line-height: 1.2rem;

        @media (max-width: 1300px) {
            font-size: 2rem;
        }
    }
}

.blurb {
    h2 {
        font-weight: 100;
        font-size: 2.5rem;
        color: $title-color;
        line-height: 2.5rem;

        @media (max-width: 1300px) {
            font-size: 2rem;
        }
    }
    p {
        color: $txt-color;
        font-weight: 100;
        font-size: 1.125rem;
        line-height: 2;
        .dots {
            display: inline;
            color: $accent-color;
            cursor: pointer;
            vertical-align: sub;
            font-style: italic;
        }
        .more {
            display: none;
        }
        .less {
            display: none;
            cursor: pointer;
            color: $accent-color;
            vertical-align: sub;
            font-style: italic;
        }
    }
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}
