@import "vars";

// 2px solid #bbbbbb
body {
  background-color: $body-color;
  margin: 0%;
  h2 {
    text-align: center;
    color: $dos-red !important;
  }
}

h5 {
  color: black;
  line-height: 5rem;
  font-size: 3rem;
}

iframe {
  height: 100%;
  width: 100%;
  @media only screen and (max-width: 768px) {
    height: 100%;
    width: 100%;
  }
}
.pic {
  border: 3px solid $nav-color;
}

#mainNav {
  font-size: 2rem;
  line-height: 1rem;

  @media only screen and (max-width: 768px) {
    line-height: 3rem;
  }
  // font-weight: 700;
  // background-color: $nav-color;

  // .active {
  // background-color: black !important;
  // }
  .nav-link {
    // color: $txt-color;
    // background: $nav-color;
    line-height: 2rem;

    // &:hover {
    //     color: $title-color;
    //     background-color: black;
    // }
  }
  .navbar-brand {
    font-size: 2rem !important;
    color: $brand-color;
    span {
      color: $accent-color;
    }
  }
}

#headingGroup {
  span {
    color: $accent-color;
  }
  h2 {
    // font-weight: 200;
    font-size: 3rem;
    color: $brand-color;
    line-height: 2rem;

    @media (max-width: 1300px) {
      font-size: 2rem;
    }
  }
}

.blurb {
  h2 {
    font-weight: bold;
    font-size: 2.5rem;
    color: $title-color;
    line-height: 2.5rem;

    @media (max-width: 1300px) {
      font-size: 2rem;
    }
  }
  p {
    // color: $txt-color;
    // font-weight: 100;
    // font-size: 1.125rem;
    line-height: 2;
    .dots {
      display: inline;
      color: $accent-color;
      cursor: pointer;
      vertical-align: sub;
      font-style: italic;
    }
    .more {
      display: none;
    }
    .less {
      display: none;
      cursor: pointer;
      color: $accent-color;
      vertical-align: sub;
      font-style: italic;
    }
  }
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}
.btn {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}
select.form-control {
  background: $nav-color !important;
}
.custom-checkbox .custom-control-label::after {
  content: "[ ]";
}
.custom-control-label {
  line-height: 1.1rem;
}

*.show {
  display: flex !important;
}

.aLaunch {
  background-color: $nav-color;
  border-style: dotted;
  border-color: $card-border-color;
  border-width: 0.2rem;
  font-size: 1.5rem;
  .card-body {
    line-height: 2rem;
    .text-red {
      color: red;
    }
    h2 {
      color: $dos-red;
      text-align: center;
      font-size: 2.2rem;
    }
    h4 {
      color: black;
      text-align: center;
      font-size: 1.3rem;
    }
  }

  .tab-content {
    border-width: 0.2rem;
    // border-style: dashed;
    border-top: none;
    border-color: $card-border-color;
  }

  .nav-pills {
    border-color: hotpink;
    border-style: dotted;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-width: 7rem;
    // margin-bottom: none;
    // padding-bottom: none;
    // background-color: $nav-color;
  }

  p {
    color: white;
  }
  .card-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    color: $nav-color;
    border-bottom-color: $nav-color;
    border-bottom-width: 0.2rem;
    border-bottom-style: dotted;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    background-color: black;
    padding-left: 1.5rem;

    .nav-link {
      // color: $dark-nav;
      border-color: $card-border-color;
      border-style: none;
      border-top-width: none;
      // margin-bottom: none !important;
      // padding-bottom: none !important;
      border-bottom: none;
      padding-top: 0.2rem;
      // margin-left: 1rem;
    }
  }
  .card-body {
    p {
      color: $txt-on-gray;
    }
  }
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: $dark-nav;
  background-color: black;
  // padding-left: 0.75rem;
  // padding-right: 0.75rem;
}
#po1 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 100;
}

#po2 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
}
#po3 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 900;
}
#po4 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 1000;
}
#po5 {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 1100;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none !important;
  background-color: $body-color;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-image: none !important;
  background-color: $body-color;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0rem;
  border: none;
  background-color: $body-color;
}
.custom-checkbox .custom-control-input:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  background-color: $body-color;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none !important;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// .custom-control-label::before, .custom-file-label, .custom-select {
// 	transition:
// }
.custom-checkbox .custom-control-input::after {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  background-color: $body-color;
}

.form-control:active {
  box-shadow: -3.5px -7px 0 0 #bbbbbb, 2.5px 6.125px 0 0 #bbbbbb, -3.5px 6.125px 0 0 #bbbbbb, 2.5px -7px 0 0 #bbbbbb;
  border: none;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: black;
  outline: 0;
  box-shadow: 0-3.5px -7px 0 0 #bbbbbb, 2.5px 6.125px 0 0 #bbbbbb, -3.5px 6.125px 0 0 #bbbbbb, 2.5px -7px 0 0 #bbbbbb;
}

.launchBlurb {
  h2 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    color: $dos-red;
  }
  p {
    text-align: center;
    border: none;
    margin-bottom: 0.8rem;
  }
}

#apodLogo {
  background-image: url("imgs/jake-weirick-Q_RBVFFXR_g-unsplash.jpg");
  background-color: #cccccc;
  // height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
